/*{
    box-sizing: border-box;
}
.todo {
    background-color: brown;
    display: flex;
    align-items: center;
    width:100%;
    border: 2px solid black;

}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav-link{
    display: flex;
    align-items: center;
    color: aquamarine;
}
.nav-item{
    display: flex;
    align-items: center;
    margin: 0% 1%;
}/*/