.card_home{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../Images/img_inicio.jpg");
    height: 20em;
}
.container_inf{
    color: white;
    margin: 8%;
}