.App{
  margin: 0%;
  padding: 0%;
}
.App-logo {
  width: 15%;
  height: 50%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;
  height: 60px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.barNavigation {
  margin-left: 25px;
  font-size: 9px;
  font: caption;
  text-align: center;
  color: black;
}
.main {
  background: url("https://static.wixstatic.com/media/61449d37e2c84f6ca369b41542d785a3.jpg");
  height: 250px;
  background-position: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid red;
}

.bg-custom{
  background-color: #173647 ;
}
.img{
  margin: 5% 5%;
}
.container_inf{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-enviar{
  display: flex;
  background-color: #173647 ;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 2em;
  color: white;
}
.style_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 2rem 1rem ;
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(17, 75, 102);
  font-size: 1rem;
  color: rgb(17, 75, 102);
  margin: 1rem;
  text-align: center;
}